# Imports

In [41]:
import pandas as pd
import matplotlib as plt
import sys
import os

# Data load

In [42]:
sys.path.append(os.path.abspath(".."))
df = pd.read_csv("../data/nypd-motor-vehicle-collisions-cleaned.csv", low_memory=False)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217957 entries, 0 to 1217956
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ACCIDENT DATE                  1217957 non-null  object
 1   ACCIDENT TIME                  1217957 non-null  object
 2   BOROUGH                        1217957 non-null  object
 3   LATITUDE                       1217957 non-null  object
 4   LONGITUDE                      1217957 non-null  object
 5   LOCATION                       1217957 non-null  object
 6   ON STREET NAME                 1217957 non-null  object
 7   CROSS STREET NAME              1217957 non-null  object
 8   OFF STREET NAME                1217957 non-null  object
 9   NUMBER OF PERSONS INJURED      1217957 non-null  int64
 10  NUMBER OF PERSONS KILLED       1217957 non-null  int64
 11  NUMBER OF PEDESTRIANS INJURED  1217957 non-null  int64
 12  NUMBER OF PEDESTRIANS KILLED   1217957 non-null  int64
 13  NUMBER OF CYCLIST INJURED      1217957 non-null  int64
 14  NUMBER OF CYCLIST KILLED       1217957 non-null  int64
 15  NUMBER OF MOTORIST INJURED     1217957 non-null  int64
 16  NUMBER OF MOTORIST KILLED      1217957 non-null  int64
 17  CONTRIBUTING FACTOR VEHICLE 1  1217957 non-null  object
 18  CONTRIBUTING FACTOR VEHICLE 2  1217957 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 3  1217957 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 4  1217957 non-null  object
 21  CONTRIBUTING FACTOR VEHICLE 5  1217957 non-null  object
 22  COLLISION_ID                   1217957 non-null  int64
 23  VEHICLE TYPE CODE 1            1217957 non-null  object
 24  VEHICLE TYPE CODE 2            1217957 non-null  object
 25  VEHICLE TYPE CODE 3            1217957 non-null  object
 26  VEHICLE TYPE CODE 4            1217957 non-null  object
 27  VEHICLE TYPE CODE 5            1217957 non-null  object
 28  ACCIDENT DATE FORMATTED        1217957 non-null  object
dtypes: int64(9), object(20)
memory usage: 269.5+ MB

# Most dangerous accident factors in each New York borough

In [44]:
df_factors = df.copy()

In [45]:
columns = ["BOROUGH","NUMBER OF PERSONS INJURED","NUMBER OF PERSONS KILLED","CONTRIBUTING FACTOR VEHICLE 1",
           "CONTRIBUTING FACTOR VEHICLE 2","CONTRIBUTING FACTOR VEHICLE 3","CONTRIBUTING FACTOR VEHICLE 4", 
           "CONTRIBUTING FACTOR VEHICLE 5", "COLLISION_ID"]

In [46]:
df_factors = df_factors[columns]

In [47]:
df_factors.head()

,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID
0,QUEENS,0,0,passing too closely,unknown,unknown,unknown,unknown,4184637
1,BROOKLYN,0,0,passing too closely,unknown,unknown,unknown,unknown,4195773
2,MANHATTAN,1,0,driver inattention/distraction,unknown,unknown,unknown,unknown,4202457
3,BRONX,0,0,unknown,unknown,unknown,unknown,unknown,4198749
4,MANHATTAN,1,0,driver inattention/distraction,driver inattention/distraction,unknown,unknown,unknown,4183798

In [48]:
# https://pandas.pydata.org/docs/reference/api/pandas.melt.html

In [52]:
df_long = df_factors.melt(id_vars=["COLLISION_ID","BOROUGH","NUMBER OF PERSONS INJURED", "NUMBER OF PERSONS KILLED"], 
                         value_vars=["CONTRIBUTING FACTOR VEHICLE 1","CONTRIBUTING FACTOR VEHICLE 2","CONTRIBUTING FACTOR VEHICLE 3", 
               "CONTRIBUTING FACTOR VEHICLE 4","CONTRIBUTING FACTOR VEHICLE 5"],
                         var_name="FACTOR_SOURCE",
                         value_name="CONTRIBUTING FACTOR")

In [53]:
df_long.head()

,COLLISION_ID,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,FACTOR_SOURCE,CONTRIBUTING FACTOR
0,4184637,QUEENS,0,0,CONTRIBUTING FACTOR VEHICLE 1,passing too closely
1,4195773,BROOKLYN,0,0,CONTRIBUTING FACTOR VEHICLE 1,passing too closely
2,4202457,MANHATTAN,1,0,CONTRIBUTING FACTOR VEHICLE 1,driver inattention/distraction
3,4198749,BRONX,0,0,CONTRIBUTING FACTOR VEHICLE 1,unknown
4,4183798,MANHATTAN,1,0,CONTRIBUTING FACTOR VEHICLE 1,driver inattention/distraction

In [54]:
df_long.duplicated().sum()

np.int64(0)

# How many deaths and injuries were caused by speeding in each district

# 3 most common accident factors broken down by borough and overall for the entire city

# Most frequently vehicles types involved in accidents

# Statistics on the number of accidents for each borough

# Most common accident locations (optional)